.searchBlock {
    display: flex;
    align-items: center;
    width: 150px;
}

.searchCountryInput {
    width: 400px;
    padding: 5px 20px;
    border-radius: 8px;
    background: white;
    outline: none;
    border: 1px solid #D5D6D9;
    font-family: Arial;
    font-size: 15px;
}

.searchCountryInput:hover {
    border: 1.5px solid #57A2D8;
}

.searchCountryInput:focus {
    border: none;
    box-shadow: 0px 0px 3px 0.5px #57A2D8;
}

.searchIcon {
    position: relative;
    right: 20px;
}

