.infoBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    column-gap: 100px;
    margin-top: 30px;
    height: 80vh;
}

.infoBody img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infoContainer {
    margin: 30px;
}

.informationBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.countryName{

}

.aboutCountry{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 280px;
    column-gap: 40px;
}

.borders {
    width: 500px;
}


.borders p{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.borders a {
    text-decoration: none;

}
