.infoBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    column-gap: 100px;
    margin-top: 30px;
    height: 80vh;
}

.infoBody img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infoContainer {
    margin-top: 30px;
}

.informationBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.aboutCountry{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 280px;
    column-gap: 20px;
}

.borders {
    width: 100%;
}


.borders p{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.borders a {
    text-decoration: none;

}

@media (max-width: 1250px) {
    .infoBody {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px;

    }

    .infoContainer {
        margin: 15px;
    }

    .aboutCountry{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        column-gap: 20px;
    }
}