.rootCountries {
    font-family: Arial;
}


.countriesHeaderWrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 3px gray;
    padding: 20px 40px;
}

.countriesHeaderWrapper h1 {
    font-size: 20px;
    font-weight: bold;
}

.darkMode {
    display: flex;
    align-items: center;
}

.darkMode label {
    padding-left: 4px;
}
.bodyWrapper {
    margin: 0 120px;
}


.filterWrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.searchCountryInput {
    height: 50px;
    width: 400px;
    padding: 15px 30px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 10px 0px gray;
    outline: none;
    border: none;
    font-family: Arial;
    font-size: 15px;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 100px;
}

.countryBlock {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px gray;
}

.countryBlock img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.countryInfo {
    padding: 20px;
}

